/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common Section Styling */
#login,
#signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    width: 100vw;
    position: fixed;
    backdrop-filter: blur(16px) saturate(180%);
    background: rgba(75, 46, 46, 0.2);
}

#login {
    z-index: -10;
}

#signUp {
    z-index: -11;
}

/* Headings & Paragraphs */
h1 {
    font-weight: bold;
    font-size: 5rem;
    color: #333;
}

h2 {
    background-color: white;
    color: #333;
}

p {
    font-size: 2rem;
    color: #333;
}

/* Form Containers */
#loginForm,
#signUpForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 65vh;
    background-color: white;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 4px 4px;
    position: fixed;
    color: #333;
}

#loginForm {
    font-size: 2rem;
    gap: 2rem;
}

#signUpForm {
    font-size: 1.5rem;
    gap: 1.3rem;
}

/* Close Buttons */
/* #formClose,
#formClose2 {
    position: absolute;
    padding: 1rem;
    cursor: pointer;
    z-index: 12;
    font-size: 2rem;
    color: #333;
    width: 65vh;
    text-align: end;
}

#formClose {
    top: 18vh;
}

#formClose2 {
    top: 5vh;
} */

/* Form Inputs & Selects */
label {
    width: 100%;
    background-color: white;
}

input,
select {
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    background-color: wheat;
    transition: 2s;
}

#signUpForm label input,
#signUpForm label select {
    font-size: 1.3rem;
    padding: 0.6rem;
}

/* Hover Effects */
input:hover {
    box-shadow: inset 20em 0em #333;
    color: wheat;
}

select:hover {
    box-shadow: inset 20em 0em #a09292;
    color: black;
}


/* Buttons */
button {
    width: 10rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: #333;
    background-color: wheat;
    transition: 1.5s;
}

button:hover {
    box-shadow: inset -8em 0em #333;
    color: wheat;
}



/* Responsive design */
@media (max-width: 768px) {

    #loginForm,
    #signUpForm {
        width: 90vw;
        padding: 1rem;
    }

    #formClose {
        top: 10vh;
    }

    #formClose2 {
        top: 5vh;
    }

    h2 {
        font-size: 2rem;
    }

    input,
    select {
        font-size: 1rem;
        padding: 0.5rem;
    }

    button {
        width: 8rem;
        font-size: 1.2rem;
    }
}